@import "../../common/colors.scss";

.card-item {
  background-color: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transition: all 0.4s;
    transform: scale(1.05);
  }
  min-height: 450px;
  height: 100%;
  margin: 10px;
}

.card-top {
  height: 300px;
  img {
    height: 100%;
    width: 100%;
  }
}
.card-info {
  color: $font-primary;
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
.card-bottom {
  padding: 10px;
}
